<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cyberai.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Solve your Cyber Queries with <br> CyberAI</h1>
    <form id="queryForm">
        <textarea id="userInput" name="userInput" placeholder="Enter your prompt here" rows="3" cols="50" required></textarea><br><br>
        <button class = "button-76" type="submit">Send</button>
    </form>


</body>
</html>