<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Phishing Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('reload', function() {
            location.reload();  // Automatically reload the page on event
        });
    </script>

</head>
<body>
    <div class="main">
        <h1>RealTime AI <br>Email Phishing Detector</h1>
        <button class="button-76">Sign in to your Account</button>
        <img src="{{ url_for('static', filename='images/mail.png') }}" alt="Logo">
    </div>
    
</body>
</html>
